In [1]:
import pandas as pd
import numpy as np

## import the data (2000 - 2021)

In [72]:
df_atp = pd.read_csv('tennis_atp-master/atp_matches_2000.csv')
for i in range(1, 22):
    b = ''
    if i < 10:
        b = 0
    df = pd.read_csv(f'tennis_atp-master/atp_matches_20{b}{i}.csv')
    df_atp = pd.concat([df_atp,df], ignore_index=True)

In [87]:
df_atp = df_atp.sort_values(by = ['tourney_date', 'match_num'], ignore_index=True)

In [91]:
def get_smaller_than_season(year):
    I = df_atp.loc[:, 'tourney_date'] < int(f'{year}0000')
    I = np.asarray(I)
    return df_atp.loc[I, 'tourney_date']

In [95]:
print(df_atp)

                            tourney_id                     tourney_name  \
0                             2000-339                         Adelaide
1                             2000-451                             Doha
2                             2000-891                          Chennai
3                             2000-339                         Adelaide
4                             2000-451                             Doha
...                                ...                              ...
65889  2021-M-DC-2021-FLS-M-CRO-SRB-01  Davis Cup Finals SF: CRO vs SRB
65890  2021-M-DC-2021-FLS-M-RTF-GER-01  Davis Cup Finals SF: RTF vs GER
65891  2021-M-DC-2021-FLS-M-RTF-GER-01  Davis Cup Finals SF: RTF vs GER
65892  2021-M-DC-2021-FLS-M-RTF-CRO-01   Davis Cup Finals F: RTF vs CRO
65893  2021-M-DC-2021-FLS-M-RTF-CRO-01   Davis Cup Finals F: RTF vs CRO

      surface  draw_size tourney_level  tourney_date  match_num  winner_id  \
0        Hard         32             A      20000103          1     102358
1        Hard         32             A      20000103          1     103017
2        Hard         32             A      20000103          1     103420
3        Hard         32             A      20000103          2     103819
4        Hard         32             A      20000103          2     101750
...       ...        ...           ...           ...        ...        ...
65889    Hard          2             D      20211203          2     104925
65890    Hard          2             D      20211204          1     126094
65891    Hard          2             D      20211204          2     106421
65892    Hard          2             D      20211205          1     126094
65893    Hard          2             D      20211205          2     106421

       winner_seed winner_entry  ... l_1stIn l_1stWon  l_2ndWon l_SvGms  \
0              1.0          NaN  ...    37.0     25.0      13.0     9.0
1              1.0          NaN  ...    53.0     36.0      17.0    12.0
2              NaN          NaN  ...    23.0     16.0      13.0     9.0
3              NaN          NaN  ...    15.0     13.0      12.0     8.0
4              NaN            Q  ...    57.0     41.0      18.0    16.0
...            ...          ...  ...     ...      ...       ...     ...
65889          NaN          NaN  ...    37.0     23.0      13.0     9.0
65890          NaN          NaN  ...    21.0     12.0      10.0     8.0
65891          NaN          NaN  ...    34.0     29.0       7.0    10.0
65892          NaN          NaN  ...    52.0     33.0      20.0    11.0
65893          NaN          NaN  ...    38.0     31.0       9.0    10.0

       l_bpSaved  l_bpFaced  winner_rank winner_rank_points loser_rank  \
0            2.0        4.0          4.0             2606.0       56.0
1            2.0        4.0          6.0             2447.0       55.0
2            3.0        7.0        123.0              374.0        2.0
3            0.0        3.0         64.0              749.0       91.0
4            2.0        7.0        213.0              190.0      221.0
...          ...        ...          ...                ...        ...
65889        5.0        8.0          1.0            11540.0       30.0
65890        0.0        4.0          5.0             5150.0       54.0
65891        3.0        5.0          2.0             8640.0       51.0
65892        7.0        8.0          5.0             5150.0      279.0
65893        1.0        3.0          2.0             8640.0       30.0

      loser_rank_points
0                 805.0
1                 814.0
2                3465.0
3                 525.0
4                 185.0
...                 ...
65889            1710.0
65890            1101.0
65891            1134.0
65892             196.0
65893            1710.0

[65894 rows x 49 columns]

In [94]:
print(get_smaller_than_season(2009))

0        20000103
1        20000103
2        20000103
3        20000103
4        20000103
           ...
29244    20081109
29245    20081109
29246    20081121
29247    20081121
29248    20081121
Name: tourney_date, Length: 29249, dtype: int64